
/*--------------------------------
Header
--------------------------------*/
.top-header {
  position: relative;
  z-index: 990;
}

.navbar-default {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.66);
  z-index: 990;
  min-height: 100px;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #111111;
  line-height: 70px;
  padding: 15px 18px;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #111111;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fc427f;
}
.navbar-default .navbar-nav > li.active a {
  color: #ffffff;
  background-color: #fc427f;
}
.navbar-default .navbar-nav > li.active a:hover, .navbar-default .navbar-nav > li.active a:hover, .navbar-default .navbar-nav > li.active a:visited {
  color: #ffffff;
  background-color: #fc427f;
}
.navbar-default .navbar-nav > li:last-child .dropdown-menu, .navbar-default .navbar-nav > li:nth-last-child(2) .dropdown-menu {
  right: 0;
  left: auto;
}
.navbar-default .navbar-nav > li:last-child .dropdown-menu .dropdown-menu, .navbar-default .navbar-nav > li:nth-last-child(2) .dropdown-menu .dropdown-menu {
  right: 100%;
  top: 0;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  border-top: 3px solid #fc427f;
}
.navbar-default .navbar-nav > li.dropdown > a:after {
  content: "\f107";
  font-family: "FontAwesome";
  margin-left: 4px;
}
.navbar-default .navbar-nav > li.dropdown .dropdown > a:after {
  content: "\f105";
  font-family: "FontAwesome";
  margin-left: 4px;
  float: right;
}
.navbar-default .navbar-nav .dropdown-menu {
  display: block;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.25);
  border: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  right: auto;
  left: 0;
}
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
}
.navbar-default .navbar-nav .dropdown-menu > li {
  position: relative;
}
.navbar-default .navbar-nav .dropdown-menu > li > a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #111111;
  line-height: 1;
  padding: 15px;
  display: block;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
  color: #111111;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover {
  color: #fc427f;
}
.navbar-default .navbar-nav li:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
.navbar-default .search-nav {
  position: relative;
}
.navbar-default .search-nav .search-toggle {
  line-height: 70px;
  padding: 15px 18px;
  display: inline-block;
  font-size: 1.4rem;
}
.navbar-default .search-nav .search-toggle .fa {
  width: 15px;
}
.navbar-default .search-nav .header-search-wrap {
  position: absolute;
  top: 100%;
  white-space: nowrap;
  right: 0;
  display: none;
  background-color: #ffffff;
  width: 320px;
}
.navbar-default .search-nav .header-search-wrap .header-search [type=search] {
  line-height: 20px;
  padding-right: 60px;
}
.navbar-default .search-nav .header-search-wrap .header-search [type=submit] {
  position: absolute;
  right: 10px;
  font-size: 1.4rem;
  line-height: 20px;
  top: 0;
  padding: 9px 10px;
  border: none;
  background-color: transparent;
}
.page .navbar-default {
  position: relative;
}
.navbar-default.affix {
  position: fixed;
  min-height: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.25);
}
.navbar-default.affix .navbar-brand {
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 17px;
  padding-bottom: 17px;
}
.navbar-default.affix .navbar-nav > li > a {
  line-height: 30px;
}
.navbar-default.affix .search-nav .search-toggle {
  line-height: 30px;
}

.navbar-brand {
  height: 70px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}