<app-header></app-header>
<div class="container">
    <div class="text-right">
        <a [routerLink]="['/users/create']" href="javascript:;" title="New User">New User</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="users.length===0" *ngFor="let user of users;let i = index" class="no-top-border">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td>
                    <a [routerLink]="['/users/update',user.id]" href="javascript:;" class="btn btn-default" title="Edit"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></a>
                    <a (click)="onDelete($event,user.id)" href="javascript:;" class="btn btn-default" title="Delete"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr [hidden]="users.length>0">
                <td colspan="5" class="text-center text-danger">No Records(s) found</td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>