<app-header></app-header>
<section class="container">
    <div class="text-right">
        <a [routerLink]="['/users/list']" href="javascript:;" title="New User">Users List</a>
    </div>
    <div *ngIf="showErrorMsg!==null" class="alert alert-danger">
            <div [innerHtml]="showErrorMsg"></div>
    </div>
    <form (ngSubmit)="submitUser(f.value,f.valid)" #f="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Username" maxlength="255" required [(ngModel)]="frmUser.username"
                #username="ngModel">
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <p class="text-danger" *ngIf="username.errors.required">Username is required.</p>
                <p class="text-danger" *ngIf="username.errors.maxlength">Username must not exceed 255 characters long.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" maxlength="255" required name="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="frmUser.email"
                #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <p class="text-danger" *ngIf="email.errors.required">Email is required.</p>
                <p class="text-danger" *ngIf="email.errors.maxlength">Email must not exceed 255 characters long.</p>
                <p class="text-danger" *ngIf="email.errors.pattern">Please enter a valid email.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="frmUser.password"
                #password="ngModel" maxlength="255" minlength="6" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <p class="text-danger" *ngIf="password.errors.required">Password is required.</p>
                <p class="text-danger" *ngIf="password.errors.minlength">Password must be at least 6 characters long.</p>
                <p class="text-danger" *ngIf="password.errors.maxlength">Password must not exceed 255 characters long.</p>
            </div>
        </div>
        <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/users/list']" href="javascript:;" title="Cancel" class="btn btn-default">Cancel</a>
    </form>
</section>
<app-footer></app-footer>